div.container{
    height: 864px;
    width: 1840px;
}

div.container1{
    height: 800px;
    width: 6px;
    background-color: black;
    margin-left: 120px;
    margin-top: 30px;
}

div.container2{
    height:6px;
    width: 1500px;
    background-color: black;
    margin-left: 120px;
    margin-top: 0px;
}

div.new-container{
    height: auto;
    width: auto;
}

div.triangle{
    width: 0px;
    height: 0;
    border-left: 20px solid transparent ;
    border-right: 20px solid transparent;
    border-bottom: 20px solid black;
    position: relative;
    bottom: 826px;
    left: 104px;
}
div.triangle2{
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid black;
    position: relative;
    transform: rotate(90deg);
    left: 1610px;
    bottom: 32px;
}


div.dotted-line{
    /* border: none; */
    border-top: 2px dotted red;
    position: relative;
    bottom: 100px;
    left: 85px;
    width: 1266px;
    bottom: 97px;
    font-weight: bolder;
    font-size: large;
}

div.dotted-line1{
    /* border: none; */
    border-top: 2px dotted red;
    position: relative;
    bottom: 100px;
    left: 85px;
    width: 1265px;
    bottom: 199px;
    font-weight: bolder;
    font-size: large;
}

div.dotted-line2{
    /* border: none; */
    border-top: 2px dotted red;
    position: relative;
    bottom: 100px;
    left: 74px;
    width: 1048px;
    bottom: 334px;
    font-weight: bolder;
    font-size: large;
}

div.dotted-line3{
    /* border: none; */
    border-top: 2px dotted red;
    position: relative;
    bottom: 100px;
    left: 35px;
    width: 1087px;
    bottom: 507px;
    font-weight: bolder;
    font-size: large;
}


div.dotted-line4{
    /* border: none; */
    border-top: 2px dotted red;
    position: relative;
    bottom: 100px;
    left: 69px;
    width: 780px;
    bottom: 689px;
    font-weight: bolder;
    font-size: large;
}

div.dotted-line5{
    /* border: none; */
    border-top: 2px dotted red;
    position: relative;
    bottom: 100px;
    left: 122px;
    width: 1500px;
    bottom: 984px;
}
    
div.dotted-line6{
    /* border: none; */
    border-top: 2px dotted red;
    position: relative;
    bottom: 100px;
    left: 64px;
    width: 560px;
    bottom: 765px;
    font-weight: bolder;
    font-size: large;
}

div.dotted-line7{
    /* border: none; */
    border-top: 2px dotted red;
    position: relative;
    transform: rotate(90deg);
    bottom: 100px;
    left: 222px;
    width: 800px;
    bottom: 587px;
}

div.dotted-line8{
    /* border: none; */
    border-top: 2px dotted red;
    position: relative;
    transform: rotate(90deg);
    bottom: 100px;
    left: 450px;
    width: 800px;
    bottom: 589px;
}

div.dotted-line9{
    /* border: none; */
    border-top: 2px dotted red;
    position: relative;
    transform: rotate(90deg);
    bottom: 100px;
    left: 720px;
    width: 800px;
    bottom: 590px;
}

div.dotted-line10{
    /* border: none; */
    border-top: 2px dotted red;
    position: relative;
    transform: rotate(90deg);
    bottom: 100px;
    left: 1219px;
    width: 800px;
    bottom: 592px;
}


div#curved-lines{
    position: absolute;
    bottom: 0;
    width: 1840px;
    height: 864px;
}

#image{
    position: absolute;
    bottom: 780px;
    height: 20px;
    width: 30px;
    left: 100px;
}

/* div.curved-line1-container{
    width: 618px; 
    height: 108px;  
}

img {
    width: 40px;
    height: 20px;
}

#image{
    position: absolute;
    bottom: 50px;
    transform: rotate(-30deg);
}

div#curved-line1{
    width: 618px;
    height: 100px;
    border: solid 4px #000;
    border-color: #000 transparent transparent transparent;
    border-radius: 50%/70px 100px 0 0;
    position: relative;
    bottom: 911px;
    transform: rotate(15deg);
    left: 53px;
    font-weight: bolder;
    font-size: large;
}

div.curved-line2{
    height: 0px;
    width: 233px;
    border: 2px solid black;
    position: relative;
    transform: rotate(12.5deg);
    bottom: 881px;
    left: 616px;
}

div.curved-line3{
    width: 366px; 
    height: 100px; 
    border: solid 4px #000; 
    border-color: #000 transparent transparent transparent;
    border-radius: 70%/80px 100px 0 0; 
    position: relative; 
    transform: rotate(30deg);
    bottom: 810px;
    left: 787px;  
}

div.curved-line4{
    height: 145px; 
    width: 0px; 
    border: 2px solid black; 
    position: relative; 
    transform: rotate(0deg); 
    bottom: 805px; 
    left: 1117px; 
}

div.direct-route{
    height: 269px; 
    width: 0px; 
    border: 1px solid black; 
    position: relative; 
    transform: rotate(0deg); 
    bottom: 829px; 
    left: 1119px; 
}

div.new-route-1{
    height: 100px;
    width: 315px;
    border: solid 4px black;
    border-color: black transparent transparent transparent;
    border-radius: 50%/60px 80px 0 0;
    position: relative; 
    transform: rotate(24deg);
    bottom: 1050px;
    left: 1068px;
}

div.new-route-2{
    height: 132px;
    width: 0px;
    border: 1px solid black;
    position: relative;
    bottom: 1076px;
    left: 1352px;
}



div#text{
    text-align: end;
    position: relative;
    width: 40px;
    height: 20px;
    bottom: 1067px;
    left: 602px;
    font-size: large;
    font-weight: bold;    
}

div#text1{
    text-align: end;
    position: relative;
    width: 40px;
    height: 20px;
    bottom: 1089px;
    left: 829px;
    font-size: large;
    font-weight: bold;    
}

div#text2{
    text-align: end;
    position: relative;
    width: 40px;
    height: 20px;
    bottom: 1107px;
    left: 1098px;
    font-size: large;
    font-weight: bold;    
}

div#text3{
    text-align: end;
    position: relative;
    width: 40px;
    height: 20px;
    bottom: 1129px;
    left: 1327px;
    font-size: large;
    font-weight: bold;    
}

div#text4{
    text-align: end;
    position: relative;
    width: 40px;
    height: 20px;
    bottom: 1147px;
    left: 110px;
    font-size: large;
    font-weight: bold;    
}

 div#image{
    position: relative;
    width: 97px;
    height: 100px;
    bottom: 1953px;
    left: 120px;    
    font-weight: bold;
    font-size: 17px;
} 


p#speed{
    width: 60px;
    height: 40px;
}

div#time{
    position: relative;
    height: 20px;
    width: 40px;
    bottom: 1300px;
    left: 300px;
    font-size: large;
    font-weight: bold;
}

div#time1{
    position: relative;
    height: 20px;
    width: 40px;
    bottom: 1317px;
    left: 690px;
    font-size: large;
    font-weight: bold;
}

div#time2{
    position: relative;
    height: 20px;
    width: 40px;
    bottom: 1337px;
    left: 950px;
    font-size: large;
    font-weight: bold;
}

div#time3{
    position: relative;
    height: 20px;
    width: 40px;
    bottom: 1357px;
    left: 1190px;
    font-size: large;
    font-weight: bold;
}

div#time4 {
    position: relative;
    height: 20px;
    width: 40px;
    bottom: 1457px;
    left: 1190px;
    font-size: large;
    font-weight: bold;
}

div#time5 {
    position: relative;
    height: 20px;
    width: 40px;
    bottom: 1557px;
    left: 1190px;
    font-size: large;
    font-weight: bold;
}

div#time6 {
    position: relative;
    height: 20px;
    width: 40px;
    bottom: 1657px;
    left: 1190px;
    font-size: large;
    font-weight: bold;
}

div#time7 {
    position: relative;
    height: 20px;
    width: 40px;
    bottom: 1757px;
    left: 1190px;
    font-size: large;
    font-weight: bold;
}

div#time8 {
    position: relative;
    height: 20px;
    width: 40px;
    bottom: 1857px;
    left: 1190px;
    font-size: large;
    font-weight: bold;
}


p{
    position: relative;
    width: 90px;
    height: 20px;
    bottom: 240%;
    left:90%;
}*/